<h1 id="title" class="title">{{translate('AUTHENTICATION/REGISTER')}}</h1>

<form [formGroup]="formGroup" aria-labelledby="title">
    <div class="row mt-5 mb-5 ml-0 mr-0">
        <div class="col-lg-12 pr-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-control-group">
                        <label class="label" for="input-name">{{translate('AUTHENTICATION/NAME')}}</label>
                        <input #name="" nbInput fullWidth [formControlName]="'name'" id="input-name" type="text"
                               name="Name"
                               [placeholder]="translate('AUTHENTICATION/NAME')" [(ngModel)]="user.name"
                               autocomplete="off">
                        <div *ngIf="isFocused(name) && formGroup.controls['name'].invalid  && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)"
                             [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                            <div *ngIf="formGroup.controls['name'].errors.required">
                                {{translate('ERROR/NAME_MISSING')}}
                            </div>
                            <div *ngIf="formGroup.controls['name'].errors.pattern">
                                {{translate('ERROR/NAME_BAD_FORMAT')}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-control-group">
                        <label class="label"
                               for="input-lastname">{{translate('AUTHENTICATION/LASTNAME')}}</label>
                        <input #lastname="" nbInput fullWidth [formControlName]="'lastname'" id="input-lastname"
                               type="text"
                               name="Last Name" [placeholder]="translate('AUTHENTICATION/LASTNAME')"
                               [(ngModel)]="user.lastname" autocomplete="off">
                        <div *ngIf="isFocused(lastname) && formGroup.controls['lastname'].invalid  && (formGroup.controls['lastname'].dirty || formGroup.controls['lastname'].touched)"
                             [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                            <div *ngIf="formGroup.controls['lastname'].errors.required">
                                {{translate('ERROR/LAST_NAME_MISSING')}}
                            </div>
                            <div *ngIf="formGroup.controls['lastname'].errors.pattern">
                                {{translate('ERROR/LAST_NAME_BAD_FORMAT')}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-control-group">
                <label class="label" for="input-username">{{translate('AUTHENTICATION/USERNAME')}}</label>
                <input #username="" nbInput fullWidth [formControlName]="'username'" id="input-username" type="text"
                       name="Username"
                       [placeholder]="translate('AUTHENTICATION/USERNAME')" [(ngModel)]="user.username"
                       autocomplete="off">
                <div *ngIf="isFocused(username) && formGroup.controls['username'].invalid  && (formGroup.controls['username'].dirty || formGroup.controls['username'].touched)"
                     [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                    <div *ngIf="formGroup.controls['username'].errors.required">
                        {{translate('ERROR/USERNAME_MISSING')}}
                    </div>
                </div>
            </div>

            <div class="form-control-group">
                <label class="label" for="input-email">{{translate('AUTHENTICATION/EMAIL')}}</label>
                <input #email="" nbInput fullWidth [formControlName]="'email'" id="input-email" type="text" name="Email"
                       [placeholder]="translate('AUTHENTICATION/EMAIL')"
                       [(ngModel)]="user.email" autocomplete="off">
                <div *ngIf="isFocused(email) && formGroup.controls['email'].invalid  && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)"
                     [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                    <div *ngIf="formGroup.controls['email'].errors.required">
                        {{translate('ERROR/EMAIL_MISSING')}}
                    </div>
                    <div *ngIf="formGroup.controls['email'].errors.email">
                        {{translate('ERROR/EMAIL_BAD_FORMAT')}}
                    </div>
                </div>
            </div>

            <div class="form-control-group">
                <label class="label" for="input-password">{{translate('AUTHENTICATION/PASSWORD')}}</label>
                <input #password="" nbInput fullWidth [formControlName]="'password'" type="password" id="input-password"
                       name="Password" [placeholder]="translate('AUTHENTICATION/PASSWORD')"
                       [(ngModel)]="user.password" autocomplete="off">
                <div *ngIf="isFocused(password) && formGroup.controls['password'].invalid  && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)"
                     [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                    <div *ngIf="formGroup.controls['password'].errors.required">
                        {{translate('ERROR/PASSWORD_MISSING')}}
                    </div>
                    <div *ngIf="formGroup.controls['password'].errors.hasSmallCase ||
                    formGroup.controls['password'].errors.hasCapitalCase ||
                    formGroup.controls['password'].errors.hasSpecialCharacters ||
                    formGroup.controls['password'].errors.hasNumber">
                        {{translate('ERROR/PASSWORD_COMPOSITION')}}
                    </div>
                    <div *ngIf="formGroup.controls['password'].errors.minlength">
                        {{translate('ERROR/PASSWORD_MIN_LENGTH')}}

                    </div>
                    <div *ngIf="formGroup.controls['password'].errors.maxlength">
                        {{translate('ERROR/PASSWORD_MAX_LENGTH')}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button nbButton fullWidth [status]="'success'" [disabled]="!formGroup.valid" (click)="register()">
        {{translate('AUTHENTICATION/REGISTER')}}
    </button>
</form>

<section class="another-action" aria-label="Sign in">
    {{translate('AUTHENTICATION/WITH_ACCOUNT')}} <a class="text-link" [routerLink]="'../login'">
    {{translate('AUTHENTICATION/LOGIN')}}
</a>
</section>

<section class="another-action" [ngStyle]="{marginTop: '1em'}" aria-label="Register">
    {{translate('AUTHENTICATION/OR')}} <a class="text-link" [ngStyle]="{cursor: 'pointer'}"
                                          (click)="guest()">
    {{translate('AUTHENTICATION/GUEST_ACCESS')}}</a>
</section>
