<app-view class="upload-photo">
    <div class="row">
        <div class="col-lg-4">
            <nb-card>
                <nb-card-header>{{translate('UPLOAD_PHOTO/OPTIONS_TITLE')}}</nb-card-header>
                <nb-card-body class="panel-body d-inline">
                    <div class="w-100 d-block mb-4">
                        <p>{{translate('UPLOAD_PHOTO/TITLE')}}</p>
                        <input nbInput fullWidth type="text"
                               [placeholder]="translate('UPLOAD_PHOTO/TITLE')"
                               [(ngModel)]="model.title">
                    </div>
                    <div class="w-100 d-block mb-4">
                        <p>{{translate('UPLOAD_PHOTO/SELECT_TAGS')}}</p>
                        <app-filter>
                            <app-select-tag [placeholder]="'UPLOAD_PHOTO/SELECT_TAGS'"
                                            [multiple]="true"
                                            [searchable]="false"
                                            [closeOnSelect]="true"
                                            [notFoundText]="'UPLOAD_PHOTO/TAGS_NOT_FOUND'"
                                            [loadingText]="'UPLOAD_PHOTO/LOADING'">
                            </app-select-tag>
                        </app-filter>
                    </div>
                    <div class="w-100 d-block mb-4">
                        <p>{{translate('UPLOAD_PHOTO/SELECT_SIZE')}}</p>
                        <div class="row">
                            <div class="col-lg-5">
                                <input type="number" [(ngModel)]="coordinates.width" nbInput fullWidth
                                       [placeholder]="translate('UPLOAD_PHOTO/WIDTH')"
                                       (ngModelChange)="resize($event, 'width')">
                            </div>
                            <div class="col-lg-2 text-center">
                                <p class="upload-photo-size">x</p>
                            </div>
                            <div class="col-lg-5">
                                <input type="number" [(ngModel)]="coordinates.height" nbInput fullWidth
                                       [placeholder]="translate('UPLOAD_PHOTO/HEIGHT')"
                                       (ngModelChange)="resize($event, 'height')">
                            </div>
                        </div>
                        <div class="row m-0 mt-2">
                            <div class="col-lg-12">
                                <nb-checkbox
                                        [(checked)]="ratio">{{translate('UPLOAD_PHOTO/ASPECT_RATIO')}}
                                </nb-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-block mb-4">
                        <p>{{translate('UPLOAD_PHOTO/SELECT_FORMAT')}}</p>
                        <app-filter >
                            <app-select-format [placeholder]="'UPLOAD_PHOTO/SELECT_FORMAT'"
                                               [multiple]="false"
                                               [searchable]="false"
                                               [closeOnSelect]="true"
                                               [notFoundText]="'UPLOAD_PHOTO/FORMATS_NOT_FOUND'"
                                               [loadingText]="'UPLOAD_PHOTO/LOADING'">
                            </app-select-format>
                        </app-filter>
                    </div>
                    <div class="w-100 d-block mb-4">
                        <p>{{translate('UPLOAD_PHOTO/SELECT_FILTER')}}</p>
                        <app-filter >
                            <app-select-filter [placeholder]="'UPLOAD_PHOTO/SELECT_FILTER'"
                                               [multiple]="false"
                                               [searchable]="false"
                                               [closeOnSelect]="true"
                                               [notFoundText]="'UPLOAD_PHOTO/FILTERS_NOT_FOUND'"
                                               [loadingText]="'UPLOAD_PHOTO/LOADING'">
                            </app-select-filter>
                        </app-filter>
                    </div>
                    <div class="w-100 d-block m-0">
                        <p>{{translate('UPLOAD_PHOTO/DESCRIPTION')}}</p>
                        <app-filter>
                            <textarea nbInput fullWidth
                                      [ngStyle]="{height: '115px', resize: 'none'}"
                                      [placeholder]="translate('UPLOAD_PHOTO/DESCRIPTION_PLACEHOLDER')"
                                      [(ngModel)]="model.description"></textarea>
                        </app-filter>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-lg-8">
            <nb-card>
                <nb-card-header>{{translate('UPLOAD_PHOTO/PHOTO_SECTION')}}</nb-card-header>
                <nb-card-body class="panel-body upload-photo-box">
                    <div>
                        <canvas [id]="'canvas'" [hidden]="true"></canvas>
                        <img [src]="!preview ? '/assets/img/options/photo-option.png' : preview">
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <div class="row">
                        <div class="col-lg-5">
                            <button nbButton (click)="change()">
                                <nb-icon [icon]="'cloud-upload-outline'"></nb-icon>
                                {{translate('UPLOAD_PHOTO/UPLOAD_ACTION')}}
                            </button>
                        </div>
                        <div class="col-lg-2">
                            <button nbButton [status]="'danger'" [disabled]="!model.image.imageData" (click)="clear()">
                                <nb-icon [icon]="'close-circle-outline'"></nb-icon>
                                {{translate('UPLOAD_PHOTO/CLEAR_ACTION')}}
                            </button>
                        </div>
                        <div class="col-lg-5">
                            <button nbButton [disabled]="!model.image.imageData || !model.title || !model.description"
                                    (click)="save()">
                                <nb-icon [icon]="'save-outline'"></nb-icon>
                                {{translate('UPLOAD_PHOTO/SAVE_ACTION')}}
                            </button>
                        </div>
                    </div>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</app-view>
