<div class="header-container">
    <div class="logo-container">
        <a (click)="toggle()" class="sidebar-toggle">
            <nb-icon [icon]="'menu-2-outline'"></nb-icon>
        </a>
        <a class="logo" (click)="navigate('/')">
            <span>{{ title }}</span>
        </a>
    </div>
</div>

<div class="header-container">
    <nb-select [placeholder]="translate('HEADER/LANGUAGES')"
               [(selected)]="selectedLanguage"
               (selectedChange)="changeLanguages($event)" status="primary">
        <nb-select-label>
            {{currentLanguage()}}
        </nb-select-label>
        <nb-option class="header-language-option" *ngFor="let item of languages" [value]="item.value">
            <img [src]="'/assets/img/languages/' + item.asset">
            <span>{{translate(item.name)}}</span>
        </nb-option>
    </nb-select>
    <nb-actions [size]="'small'">
        <nb-action class="control-item"
                   [icon]="'settings-2-outline'"
                   *ngIf="!guest()"
                   (click)="navigate('/pages/settings')">
        </nb-action>
        <nb-action class="control-item"
                   [icon]="'log-in-outline'"
                   *ngIf="guest()"
                   (click)="navigate('/authentication')">
        </nb-action>
        <nb-action class="control-item"
                   [icon]="'log-out-outline'"
                   *ngIf="!guest()"
                   (click)="logout()">
        </nb-action>
    </nb-actions>
</div>
