<nb-card>
    <nb-card-header>
        <p>{{translate('ADMINISTRATION/TITLE')}}</p>
        <input #ng2SmartTableSearch class="form-control"
               [placeholder]="translate('ADMINISTRATION/SEARCH') + '...'" (keydown.enter)="onSearch(ng2SmartTableSearch.value)">
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings"
                         [source]="source"
                         (editConfirm)="onEditConfirm($event)"
                         (userRowSelect)="onUserRowSelect($event)"
                         (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
