<app-view class="discover">
    <div class="row">
        <div class="col-lg-9 overflow-hidden">
            <div class="discover-scrollit" cdkScrollable>
                <div class="row" *ngFor="let pack of photosChunked">
                    <div class="col-md-4" *ngFor="let photo of pack">
                        <app-photo-box [editable]="false" (eventEmitter)="handle($event)"
                                       [userId]="user()" [box]="photo"></app-photo-box>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="discover-fixed" id="discover-fixed">
                <nb-card>
                    <nb-card-header>{{translate('DISCOVER/SEARCH')}}</nb-card-header>
                    <nb-card-body class="panel-body d-inline" style="overflow: visible">
                        <div class="w-100 d-block mb-4">
                            <p>{{translate('DISCOVER/SEARCH_KEYWORDS')}}</p>
                            <input nbInput fullWidth [(ngModel)]="search.term"
                                   (ngModelChange)="searchChange('term', $event)"
                                   [placeholder]="translate('DISCOVER/ENTER_KEYWORDS')">
                        </div>
                        <div class="w-100 d-block mb-4">
                            <p>{{translate('DISCOVER/SEARCH_SIZES')}}</p>
                            <input nbInput fullWidth [(ngModel)]="search.size"
                                   (ngModelChange)="searchChange('size', $event)"
                                   [placeholder]="translate('DISCOVER/ENTER_SIZES')">
                        </div>
                        <div class="w-100 d-block mb-4">
                            <p>{{translate('DISCOVER/SEARCH_TAGS')}}</p>
                            <app-filter>
                                <app-select-tag [placeholder]="'DISCOVER/SELECT_TAGS'"
                                                [multiple]="true"
                                                [searchable]="false"
                                                [closeOnSelect]="true"
                                                [notFoundText]="'DISCOVER/TAGS_NOT_FOUND'"
                                                [loadingText]="'DISCOVER/LOADING'">
                                </app-select-tag>
                            </app-filter>
                        </div>
                    </nb-card-body>
                    <nb-card-footer class="text-center">
                        <button nbButton [disabled]="!search.term && !search.size && search.tags.length === 0"
                                (click)="refresh()">
                            <nb-icon [icon]="'search-outline'"></nb-icon>
                            {{translate('DISCOVER/SEARCH')}}
                        </button>
                    </nb-card-footer>
                </nb-card>
            </div>
        </div>
    </div>
</app-view>
