<app-view cdkScrollable>
    <div class="row" *ngFor="let pack of photosChunked">
        <div class="col-md-3" *ngFor="let photo of pack">
            <app-photo-box (eventEmitter)="handle($event)"
                           [userId]="urlID ? id() : user()"
                           [box]="photo"
                           [editable]="true">
            </app-photo-box>
        </div>
    </div>
</app-view>
