<div class="action" [ngStyle]="{borderColor: model?.action?.color, borderLeft: '4px solid ' + model?.action?.color}">
    <div class="row w-100 h-100 m-0">
        <div class="col-lg-12">
            <nb-icon [ngStyle]="{color: model?.action?.color}"
                     [icon]="model?.action?.icon ? model?.action?.icon : 'info-outline'">
            </nb-icon>
            <p class="action-code"
               [ngStyle]="{color: model?.action?.color}">{{translate('ACTION/' + model?.action?.code)}}</p>
            <p class="action-date">{{model?.createdAt | date: 'MMMM d, y, h:mm:ss a'}}</p>
        </div>
    </div>
</div>
