<nb-card class="photo-box">
    <nb-card-header>
        <div class="card-img-top" [ngStyle]="{'background-image':
              box?.imageFilter ? 'url(' + box.imageFilter + ')' :'url(' + box.image + ')'}"
             (click)="box?.imageFilter ? viewerImage(box?.imageFilter) : viewerImage(box?.image)">
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="photo-box-info">
            <h5 [id]="'editor-title-' + tag" class="card-title" [contentEditable]="editable"
                (keydown)="onEdit = true">
                {{box?.title}}
            </h5>
            <p [id]="'editor-description-' + tag" class="card-text" style="-webkit-line-clamp: 2; -webkit-box-orient: vertical;
                                overflow: hidden; text-overflow: ellipsis;
                                display: -webkit-box; text-align: justify;"
               [contentEditable]="editable"
               (keydown)="onEdit = true">
                {{box?.description}}
            </p>
            <span>{{box?.createdAt | date : 'MMMM d, y'}}</span>
        </div>
        <div class="photo-box-action">
            <nb-actions [fullWidth]="true" *ngIf="!onEdit">
                <nb-action [icon]="'cloud-download-outline'" *ngIf="logged()"
                           [nbContextMenu]="items" [nbContextMenuTag]="'menu_' + tag"></nb-action>
                <nb-action *ngIf="!editable" [icon]="'eye-outline'"
                           (click)="viewerDescription()"></nb-action>
                <nb-action *ngIf="editable && logged() && userId && box.user.id === userId" [icon]="'trash-2-outline'"
                           (click)="delete()">
                </nb-action>
            </nb-actions>

            <nb-actions [fullWidth]="true" *ngIf="onEdit">
                <nb-action [icon]="'checkmark-outline'" (click)="change()"></nb-action>
                <nb-action [icon]="'close-outline'" (click)="onEdit = false"></nb-action>
            </nb-actions>
        </div>
    </nb-card-body>
</nb-card>
