<app-view class="setting-profile">
    <div class="row">
        <div class="col-lg-6">
            <nb-card>
                <nb-card-header>{{translate('SETTINGS_PROFILE/USER_SECTION')}}</nb-card-header>
                <nb-card-body class="panel-body d-inline">
                    <div class="row w-100 mb-4 ml-0 mr-0">
                        <div class="col-lg-5 text-center">
                            <img class="setting-profile-picture"
                                 [src]="user?.info?.profilePicture ? user?.info?.profilePicture : '/assets/img/options/profile-option.png'">
                        </div>
                        <div class="col-lg-7 text-center align-middle">
                            <div class="setting-profile-upload text-center">
                                <button nbButton (click)="changePicture()">
                                    <nb-icon [icon]="'cloud-upload-outline'"></nb-icon>
                                    {{translate('SETTINGS_PROFILE/UPLOAD_ACTION')}}
                                </button>
                                <button nbButton [disabled]="!user?.info?.profilePicture"
                                        [status]="'danger'" (click)="clearPicture()">
                                    <nb-icon [icon]="'close-circle-outline'"></nb-icon>
                                    {{translate('SETTINGS_PROFILE/CLEAR_ACTION')}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="formGroup" aria-labelledby="title">
                        <div class="w-100 d-block mb-4">
                            <input nbInput fullWidth [formControlName]="'name'" id="input-name" type="text" name="Name"
                                   [placeholder]="translate('AUTHENTICATION/NAME')"
                                   [(ngModel)]="user.info.name" (change)="changed()">
                            <div *ngIf="formGroup.controls['name'].invalid  && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)"
                                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                                <div *ngIf="formGroup.controls['name'].errors.required">
                                    {{translate('ERROR/NAME_MISSING')}}
                                </div>
                                <div *ngIf="formGroup.controls['name'].errors.pattern">
                                    {{translate('ERROR/NAME_BAD_FORMAT')}}
                                </div>
                            </div>
                        </div>
                        <div class="w-100 d-block mb-4">
                            <input nbInput fullWidth [formControlName]="'lastname'" id="input-lastname" type="text"
                                   name="Last Name" [placeholder]="translate('AUTHENTICATION/LASTNAME')"
                                   [(ngModel)]="user.info.lastname" (change)="changed()">
                            <div *ngIf="formGroup.controls['lastname'].invalid  && (formGroup.controls['lastname'].dirty || formGroup.controls['lastname'].touched)"
                                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                                <div *ngIf="formGroup.controls['lastname'].errors.required">
                                    {{translate('ERROR/LAST_NAME_MISSING')}}
                                </div>
                                <div *ngIf="formGroup.controls['lastname'].errors.pattern">
                                    {{translate('ERROR/LAST_NAME_BAD_FORMAT')}}
                                </div>
                            </div>
                        </div>
                        <div class="w-100 d-block mb-4">
                            <input nbInput fullWidth [formControlName]="'email'" id="input-email" type="text"
                                   name="Email" [placeholder]="translate('AUTHENTICATION/EMAIL')"
                                   [(ngModel)]="user.info.email" (change)="changed()">
                            <div *ngIf="formGroup.controls['email'].invalid  && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)"
                                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                                <div *ngIf="formGroup.controls['email'].errors.required">
                                    {{translate('ERROR/EMAIL_MISSING')}}
                                </div>
                                <div *ngIf="formGroup.controls['email'].errors.email">
                                    {{translate('ERROR/EMAIL_BAD_FORMAT')}}
                                </div>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
                <nb-card-footer class="text-center">
                    <button nbButton [disabled]="!formGroup.valid || !userChanged"
                            (click)="updateProfile()">
                        <nb-icon [icon]="'edit-outline'"></nb-icon>
                        {{translate('SETTINGS_PROFILE/UPDATE_ACTION')}}
                    </button>
                </nb-card-footer>
            </nb-card>

            <nb-card>
                <nb-card-header>{{translate('SETTINGS_PROFILE/PASSWORD_SECTION')}}</nb-card-header>
                <nb-card-body class="panel-body d-inline">
                    <form [formGroup]="formPassword">
                        <div class="w-100 d-block mb-4">
                            <input nbInput fullWidth [formControlName]="'password'" type="password" id="input-password"
                                   name="Password" [placeholder]="translate('AUTHENTICATION/PASSWORD')"
                                   [(ngModel)]="user.info.password" #password="">
                            <div *ngIf="isFocused(password) && formPassword.controls['password'].invalid &&
                                 (formPassword.controls['password'].dirty || formPassword.controls['password'].touched)"
                                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                                <div *ngIf="formPassword.controls['password'].errors.required">
                                    {{translate('ERROR/PASSWORD_MISSING')}}
                                </div>
                                <div *ngIf="formPassword.controls['password'].errors.hasSmallCase ||
                                     formPassword.controls['password'].errors.hasCapitalCase ||
                                     formPassword.controls['password'].errors.hasSpecialCharacters ||
                                     formPassword.controls['password'].errors.hasNumber">
                                    {{translate('ERROR/PASSWORD_COMPOSITION')}}
                                </div>
                                <div *ngIf="formPassword.controls['password'].errors.minlength">
                                    {{translate('ERROR/PASSWORD_MIN_LENGTH')}}

                                </div>
                                <div *ngIf="formPassword.controls['password'].errors.maxlength">
                                    {{translate('ERROR/PASSWORD_MAX_LENGTH')}}
                                </div>
                            </div>
                        </div>
                        <div class="w-100 d-block mb-4">
                            <input nbInput fullWidth [formControlName]="'confirmPassword'" #confirmPassword=""
                                   [placeholder]="translate('AUTHENTICATION/PASSWORD_CONFIRMATION')"
                                   id="input-password-confirmation" type="password"
                                   name="password-confirmation" [(ngModel)]="user.passwordConfirmation">
                            <div *ngIf="isFocused(confirmPassword) && formPassword.controls['confirmPassword'].invalid &&
                                 (formPassword.controls['confirmPassword'].dirty || formPassword.controls['confirmPassword'].touched)"
                                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                                <div *ngIf="formPassword.controls['confirmPassword'].errors.required">
                                    {{translate('ERROR/CONFIRM_PASSWORD_MISSING')}}
                                </div>
                                <div *ngIf="formPassword.controls['confirmPassword'].errors.passswordMatch">
                                    {{translate('ERROR/CONFIRM_PASSWORD_MATCH')}}
                                </div>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
                <nb-card-footer class="text-center">
                    <button nbButton [disabled]="!formPassword.valid" (click)="updatePassword()">
                        <nb-icon [icon]="'lock-outline'"></nb-icon>
                        {{translate('SETTINGS_PROFILE/CHANGE_ACTION')}}
                    </button>
                </nb-card-footer>
            </nb-card>
        </div>
        <div class="col-lg-6">
            <nb-card>
                <nb-card-header>{{translate('SETTINGS_PROFILE/PACKAGE_SECTION')}}</nb-card-header>
                <nb-card-body *ngFor="let item of packages">
                    <app-package [showProgress]="true" [consumption]="user?.info.userPackage?.consumption"
                                 [package]="item" [selected]="item.selected">
                    </app-package>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</app-view>
