<div class="routing-error">
    <div class="routing-error-notfound">
        <h1>Oops!</h1>
        <p class="routing-error-glitch">404</p>
        <h2>{{translate('NOT_FOUND/NOT_FOUND_TITLE')}}</h2>
        <p>{{translate('NOT_FOUND/NOT_FOUND_DESCRIPTION')}}</p>
        <button nbButton hero [status]="'primary'"
                [routerLink]="'/'">{{translate('NOT_FOUND/NOT_FOUND_BUTTON')}}</button>
    </div>
</div>
