<ng-select [bindValue]="bindValue"
           [bindLabel]="bindLabel"
           [items]="items"
           [notFoundText]="translate(notFoundText)"
           [placeholder]="translate(placeholder)"
           [loading]="loading"
           [closeOnSelect]="closeOnSelect"
           [multiple]="multiple"
           [loadingText]="translate(loadingText)"
           [searchable]="searchable"
           (change)="onChange($event)"
           (close)="onClose()"
           (clear)="onClear()"
           (search)="clearSelect(); onSearch($event)"
           (open)="onOpen()"
           (scrollToEnd)="onScrollToEnd()">

    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="{{item?.id}}" type="checkbox" [ngModel]="item$.selected"/> {{item?.name | titlecase}}
    </ng-template>

    <ng-template ng-label-tmp let-item="item">
        {{ item.name | titlecase }}
    </ng-template>

</ng-select>

<ng-content></ng-content>
