<nb-card [ngStyle]="{marginBottom: 0, width: '700px', height: 'auto '}">
    <nb-card-header>
        <p>{{translate('ADMINISTRATION/MODAL_TITLE')}}</p>
        <button nbButton [size]="'tiny'" (click)="emit('close')">
            <nb-icon [icon]="'close-outline'"></nb-icon>
        </button>
    </nb-card-header>
    <nb-card-body>
        <div class="row p-3">
            <div class="col-lg-4 text-center">
                <app-administration-option [option]="'profile'"
                                           [title]="translate('ADMINISTRATION/MODAL_OPTION_PROFILE')"
                                           [imgSrc]="'profile-option.png'">
                </app-administration-option>
            </div>

            <div class="col-lg-4 text-center">
                <app-administration-option [option]="'photos'"
                                           [title]="translate('ADMINISTRATION/MODAL_OPTION_PHOTOS')"
                                           [imgSrc]="'photo-option.png'">
                </app-administration-option>
            </div>

            <div class="col-lg-4 text-center">
                <app-administration-option [option]="'history'"
                                           [title]="translate('ADMINISTRATION/MODAL_OPTION_HISTORY')"
                                           [imgSrc]="'history-option.png'">
                </app-administration-option>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer [ngStyle]="{textAlign: 'right'}">
        <button nbButton (click)="emit('close')">{{translate('ADMINISTRATION/MODAL_CLOSE')}}</button>
    </nb-card-footer>
</nb-card>
