/**********************
 SPINNER LOADER
**********************/

@keyframes spinner-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {

  .spinner-eclipse {
    width: 170px !important;
    height: 170px !important;
    -webkit-transform: translate(-70px, -70px) scale(1) translate(70px, 70px);
    transform: translate(-70px, -70px) scale(1) translate(70px, 70px);
  }

  .spinner-eclipse div {
    width: 150px;
    height: 150px;
    -webkit-transform-origin: 75px 78px;
    transform-origin: 75px 78px;
  }
}

@media screen and (min-width: 768px) {

  .spinner-eclipse {
    width: 185px !important;
    height: 185px !important;
    -webkit-transform: translate(-92px, -92px) scale(1) translate(92px, 92px);
    transform: translate(-92px, -92px) scale(1) translate(92px, 92px);
  }

  .spinner-eclipse div {
    width: 165px;
    height: 165px;
    -webkit-transform-origin: 82px 85px;
    transform-origin: 82px 85px;
  }
}

@media screen and (min-width: 992px) {

  .spinner-eclipse {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }

  .spinner-eclipse div {
    width: 180px;
    height: 180px;
    -webkit-transform-origin: 90px 93px;
    transform-origin: 90px 93px;
  }
}


.spinner-eclipse div {
  position: absolute;
  -webkit-animation: spinner-eclipse 1s linear infinite;
  animation: spinner-eclipse 1s linear infinite;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 6px 0 0 #EB6836;
}


/******** LOADABLE *************/

.loadable-spinner-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999999999999;
}

.loadable-content {
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}


/**********************
   HEADER COMPONENT
**********************/

.header-language-option {
  height: 45px !important;
  text-align: center;
}

.header-language-option img {
  height: 95%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.header-language-option span {
  margin-left: 10px;
  top: 50%;
  position: relative;
  transform: translateY(-45%);
}

.header-container nb-select.appearance-outline.status-primary .select-button {
  min-width: 120px !important;
}

.header-container nb-select.appearance-outline.status-primary .select-button:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.header-container nb-select.appearance-outline.status-primary .select-button.bottom,
.header-container nb-select.appearance-outline.status-primary .select-button:hover {
  border-color: #598bff !important;
}

.header-container nb-select.appearance-outline.status-primary .select-button {
  border-color: #edf1f7 !important;
}


/**********************
    NG2 SMART TABLE
**********************/

ng2-smart-table th.ng2-smart-actions-title-add a {
  width: 50%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}


/**********************
    SELECT COMPONENT
**********************/

ng-select:focus {
  outline: none;
}

ng-select.ng-select > .ng-select-container,
ng-select.ng-select.ng-select-opened > .ng-select-container {
  background-color: #f7f9fc;
  border-radius: 0.25rem;
  border-color: #edf1f7;
  border-style: solid;
  border-width: 1px;
  color: #1a2138;
  -webkit-appearance: none;
  transition-duration: 0.15s;
  transition-property: border, background-color, color, box-shadow;
  transition-timing-function: ease-in;
  width: 100%;
  line-height: 1.5rem;
  padding: 0.4rem 0.4rem;
}

ng-select.ng-select > .ng-select-container:hover,
ng-select.ng-select.ng-select-opened > .ng-select-container,
ng-select.ng-select.ng-select-opened > .ng-select-container:hover {
  outline: none;
  border-color: #1a34b8;
  box-shadow: 0 0 0 0.375rem #e4e9f2;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: initial !important;
  padding-bottom: 5px;
  padding-left: 3px;
  position: relative !important;

}

/****************************
    FILTER, TEXT COMPONENT
****************************/

app-filter, app-text {
  width: 100%;
}

/**********************
      SPINNER
**********************/

@-webkit-keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0)
  }
  100% {
    -moz-transform: rotate(360deg)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;
  background: #000000;
  overflow: hidden
}

.spinner div:first-child {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
  transform: translate3d(0, 0, 0);
  animation: spin 2s linear infinite
}

.spinner div:first-child:after, .spinner div:first-child:before {
  content: '';
  position: absolute;
  border-radius: 50%
}

.spinner div:first-child:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite
}

.spinner div:first-child:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
  animation: spin 1.5s linear infinite
}

/**********************
    NG2 SMART TABLE
**********************/

ng2-smart-table table tbody tr {
  cursor: pointer !important;
}

ng2-smart-table table tbody tr:hover td {
  color: #3366ff;
}

ng2-smart-table table tbody tr:hover td.ng2-smart-actions {
  color: #1a2138;
}

/*****************************
    ADMINISTRATION OPTIONS
 ****************************/

.administration-option {
  width: 165px;
  height: 165px;
  border-radius: 40px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1), -2px -2px 10px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.4s;
  display: inline-block;
}

.administration-option:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1), -2px -2px 10px 5px rgba(0, 0, 0, 0.1);
}

.administration-option div:first-child {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.administration-option div:first-child img {
  width: 85%;
  height: auto;
  object-fit: initial;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.administration-option div:last-child {
  border-radius: 0px 0px 40px 40px;
  height: 100%;
  text-align: center;
}


/*************************
      NOTIFICATION
*************************/

div[data-notify="notification-container"].notification-alert.notification-alert-dark {
  background-color: rgba(0, 0, 0, .5);
}

div[data-notify="notification-container"] {
  top: 40px;
  right: 0px;
  margin: 10px auto;
  min-height: 60px;
  height: 70px;
  transition: all 0.5s ease-in-out;
  width: 500px;
  color: rgb(255, 255, 255);
  position: relative;
}

div[data-notify="notification-container"].notification-alert.notification-alert-success {
  background-color: rgb(24, 206, 15);
}

div[data-notify="notification-container"].notification-alert.notification-alert-danger {
  background-color: rgb(255, 54, 54);
}

div[data-notify="notification-container"].notification-alert.notification-alert-warning {
  background-color: rgb(255, 178, 54);
}

div[data-notify="notification-container"].notification-alert.notification-alert-info {
  background-color: rgb(44, 168, 255);
}

div[data-notify="notification-container"].notification-alert.notification-alert-primary {
  background-color: rgb(249, 99, 50);
}

.notification-alert nb-icon:first-child {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 2em;
  width: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notification-icon {
  position: relative;
  top: 50%;
  left: 20px;
  width: auto !important;
  font-size: 28px;
  transform: translateY(-50%);
  display: inline-block;
  height: auto !important;
}

.notification-button-icon {
  border: none;
  background: none;
  color: white;
  outline: none !important;
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  right: 5px;
  top: 3px;
}

.notification-button-icon nb-icon {
  width: 1.2em !important;
  height: 1.2em !important;
  font-size: 1rem !important;
  left: initial !important;
  top: initial !important;
  transform: initial !important;
}

.notification-text {
  font-size: 14px;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.notification-text .notification-message {
  line-height: 1.5em;
  padding-top: 0;
  font-weight: 500;
  color: #fff;
  margin: 0;
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.notification-text .notification-title {
  padding-top: 0;
  font-weight: 700;
}

/*************************
      PHOTO BOX
*************************/

.photo-box {
  margin-top: 20px;
  border: 1px solid #e4e9f2;
  height: 360px;
}

.photo-box nb-card-header {
  height: 45%;
  padding: 0 !important;
  border: 0 !important;
  background: rgba(0, 0, 0, 0.4) !important;
  border-bottom: 1px solid #edf1f7 !important;
}

.photo-box .card-img-top {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}

.photo-box nb-card-body {
  overflow: hidden !important;
  height: 55%;
  padding-bottom: 0 !important;
}

.photo-box nb-card-body .photo-box-info {
  height: calc(50% + 2rem);
  margin-bottom: 0.5em;
}

.photo-box nb-card-body .photo-box-action {
  height: calc(50% - 2rem - 0.5em);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.photo-box nb-card-body .photo-box-action nb-actions {
  top: 50% !important;
  transform: translateY(-50%) !important;
  position: relative;
}

.photo-box h5 {
  color: #4E5E30;
  font-weight: 600;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.photo-box p.card-text {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  text-align: justify;
}

.photo-box span {
  position: relative;
  font-size: 0.9em;
  font-weight: 100;
  text-align: right;
  display: inline-block;
  font-style: italic;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  right: -30%;
  overflow: hidden;
}

.photo-box .btn-primary {
  background-color: #4E5E30;
  border-color: #4E5E30;
}

/*************************
      SWAL ALERT
*************************/

.swal2-container {
  z-index: 2000 !important;
}

.swal-popup-img {
  width: auto !important;
}

.swal2-styled:focus {
  box-shadow: none !important;
}

.swal-popup-html {
  width: 55% !important;
  height: 50% !important;
}

.swal-popup-html .swal2-content, .swal-popup-html .swal2-content > div:first-child {
  height: 100% !important;
}

.swal2-close:focus {
  outline: 0 !important;
}

.swal-popup-desc {
  margin: 0 !important;
}

.swal-popup-desc img {
  width: 100%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #e4e9f2;
  border-radius: 0.2em;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.swal-popup-desc h2 {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  margin: 0 !important;
  line-height: 2rem !important;
  text-align: left;
  margin-top: 1.25rem !important;
}

.swal-popup-desc h3 {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: 0.975rem !important;
  font-weight: 500 !important;
  line-height: 1.5rem !important;
  text-align: left;
}

.swal-popup-desc-text {
  display: block;
  height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  padding: 0.75rem 0rem;
  margin-top: 0.25rem;
}

.swal-popup-desc-tags {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  max-height: 20%;

}

.swal-popup-desc-tags p {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-bottom: 0.5rem;
}

.swal-popup-desc-tags span {
  position: relative;
  font-size: 0.9em;
  font-weight: 100;
  text-align: right;
  display: inline-block;
  font-style: italic;
  width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  right: -50%;
  overflow: hidden;
  margin-top: 15px;
}


/********************
     PACKAGE
********************/

.package {
  cursor: pointer;
  border: none !important;
  padding: 0 !important;
  height: 180px;
}

.package nb-card-body {
  padding: 0 !important;
}

.package label {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 0.25em;
  background-color: #f7f9fc;
  border: 1px solid #edf1f7;
}

.package label:hover,
.package label.package-selected {
  border: 2px solid #34495E;
}

.package label:hover .form-check-sign::before {
  border: 2px solid #34495E;
}

.package label .form-check-sign::before,
.package label .form-check-sign::after {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  top: 7px;
  right: 20px;
  background-color: transparent;
  border: 2px solid #34495E;
  transition: opacity 0.25s linear;
  display: none;
}

.package label:hover .form-check-sign::before,
.package label:hover .form-check-sign::after {
  display: inline-block;
}

.package label input[type=checkbox] {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.package label input[type=checkbox]:checked + .form-check-sign::before {
  background: #34495E;
  display: inline-block;
}

.package label input[type=checkbox]:checked + .form-check-sign::after {
  opacity: 1;
  display: inline-block;
}

.package label .form-check-sign::after {
  font-family: "Nucleo Outline";
  content: "";
  top: 12px;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  color: #fff;
  border: 0;
  background-color: inherit;
  font-weight: 600;
  display: inline-block;
}

.package label .package-description {
  top: 0;
  position: absolute;
  width: calc(100% - 47px);
  margin: 7px 37px 10px 10px;
}

.package label .package-description h4 {
  width: 100%;
  color: #fff;
  font-size: 1.4em;
}

.package label .package-description div {
  width: 100%;
  color: #fff;
  font-weight: 600;
  margin-left: 50px;
  margin-top: 15px;
}

.package label .package-description div:last-child {
  margin-top: 5px;
}

.package label p.package-price {
  bottom: 0;
  position: absolute;
  color: #fff;
  font-weight: 700;
  width: calc(100% - 20px);
  margin: 0px 10px 10px 10px;
  text-align: right;
  font-size: 1.25em;
}

.package label p.package-price span {
  font-size: 0.7em;
}


/*********************
   ACTION COMPONENT
*********************/

.action {
  height: 50px;
  border: 1px solid #e4e9f2;
  margin: 8px 0;
  background-color: #ffffff;
  border-radius: 0.17rem;
  box-shadow: none;
  color: #1a2138;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.action nb-icon {
  font-size: 1.5rem;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  width: 5%;
}

.action p {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  line-height: 1.6rem !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.action p.action-code {
  margin-left: 10px;
  width: calc(55% - 10px);
}

.action p.action-date {
  float: right;
  font-weight: 300;
  font-size: 0.8375rem;
  color: #8f9bb3;
  width: calc(35%);
  text-align: right;
}
