/********************
   PAGE NOT FOUND
********************/

.routing-error {
  position: relative;
  height: calc(100vh - 8rem);
  background: white;
  padding: 2.25rem;
}

.routing-error .routing-error-notfound {
  width: 100%;
  text-align: center;
}

.routing-error .routing-error-notfound p.routing-error-glitch {
  color: black;
  font-size: 100px;
  position: relative;
  width: 213px;
  margin: 0 auto;
  user-select: none;
  -webkit-user-select: none;
  max-width: initial;
  left: initial;
  transform: initial;
  display: inline-block;
}

.routing-error .routing-error-notfound h1 {
  font-size: 200px;
  margin-bottom: 0.3em;
  margin-top: 0;
  font-weight: 900;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url('../img/not-found-background.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  line-height: initial;
}

.routing-error .routing-error-notfound h2 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.routing-error .routing-error-notfound p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
  max-width: 500px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

@media only screen and (max-width: 767px) {

  .routing-error .routing-error-notfound h1 {
    font-size: 112px;
  }

  .routing-error .routing-error-notfound h2 {
    font-size: 16px;
  }

  .routing-error .routing-error-notfound p {
    color: #000;
    font-size: 13px;
    max-width: 325px;
  }
}

/************************************
   UPLOAD PHOTO / SETTINGS PROFILE
************************************/

.upload-photo nb-card {
  min-height: 140px;
}

.disover nb-card-body, .upload-photo nb-card-body, .setting-profile nb-card-body {
  overflow: visible !important;
}

.upload-photo nb-card-body.upload-photo-box {
  text-align: center;
  background: #fff;
  display: inline-block;
}

.upload-photo nb-card-body.upload-photo-box div {
  width: 100%;
  text-align: center;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  display: block;
  height: 600px;
}

.upload-photo nb-card-body.upload-photo-box div img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.upload-photo nb-card-body.upload-photo-box button {
  margin: 0 0.5em;
}

.upload-photo nb-card-footer {
  text-align: center;
}

.upload-photo nb-card-footer .upload-photo-btn input {
  visibility: hidden;
  display: none;
}

.upload-photo nb-card-footer .upload-photo-btn {
  background-color: #3366ff;
  border-color: #3366ff;
  color: #ffffff;
  padding: 0.625rem 1.125rem;
  border-style: solid;
  border-width: 0.125rem;
  text-transform: uppercase;
  border-radius: 0.17rem;
  font-size: 0.875rem;
  line-height: 1rem;
}

.upload-photo nb-card-footer .upload-photo-btn:hover {
  background-color: #598bff;
  border-color: #598bff;
}

p.upload-photo-size {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

/********************
   LOGIN / REGISTER
********************/

.authentication-language {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 30px);
  margin: 15px 15px 15px 0;
  height: 30px;
}

.authentication-language img {
  height: 100%;
  display: inline-block;
  margin: 0px 7px;
  cursor: pointer;
  opacity: 0.6;
}

.authentication-language img.language-selected,
.authentication-language img.language-selected:hover {
  opacity: 1;
}

.authentication-language img:hover {
  opacity: 1;
}

app-register nb-card.package {
  height: 105px;
  margin-bottom: 1em !important;
}

app-register nb-card.package label .form-check-sign::after,
app-register nb-card.package label .form-check-sign::before {
  width: 25px;
  height: 25px;
  right: 10px !important;
}

app-register nb-card.package label .form-check-sign::after {
  top: 10px;
  font-size: 12px;
}

app-register nb-card.package label .package-description {
  width: calc(100% - 47px) !important;
  margin: 5px 37px 0px 10px !important;
}

app-register nb-card.package label h4 {
  font-size: 1.1em !important;
  line-height: 1.25rem !important;
}

app-register .package label .package-description div {
  width: 100%;
  color: #fff;
  font-weight: 600;
  margin-left: 0px !important;
  margin-top: 0 !important;
  font-size: 0.85em !important;
}

app-register nb-card.package label p.package-price {
  font-size: 0.9rem !important;
  line-height: 0.9rem !important;
}

app-register nb-card.package nb-card-body {
  overflow: hidden !important;
}

app-register nb-card.package label p.package-price {
  margin: 0px 3px 3px 17px;
}

.links .socials a {
  border-radius: 50%;
  background: #8f9bb3;
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: initial;
  cursor: pointer;
}

.links .socials a nb-icon {
  top: 50%;
  position: relative;
  color: #fff;
  transform: translateY(-50%);
}

/********************
   ADMINISTRATION
********************/

app-administration-modal button.size-tiny.status-primary:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}

app-administration-modal button.size-tiny.status-primary {
  background-color: transparent !important;
  border-color: transparent !important;
  color: black !important;
  padding: 0.25rem !important;
  float: right;
  vertical-align: middle;
  width: auto;
  display: inline-block
}

app-administration nb-card nb-card-header p,
app-administration-modal nb-card nb-card-header p {
  color: #1a2138 !important;
  font-family: Open Sans, sans-serif !important;
  font-size: 0.9375rem !important;
  font-weight: 600 !important;
  line-height: 1.5rem !important;
  vertical-align: middle;
  display: inline-block;
  margin: 0.4em 0 0;
}

app-administration nb-card nb-card-header input {
  float: right;
  vertical-align: middle;
  width: auto !important;
  display: inline-block !important;
}

/********************
      DISCOVER
********************/

.discover-fixed {
  position: fixed;
}

.discover-scrollit {
  float: left;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}


/********************
      HEADER BAR
********************/

.nb-theme-corporate nb-layout.window-mode .layout nb-layout-header nav {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15) !important;
}


/*********************
   SETTINGS PROFILE
*********************/

.setting-profile img.setting-profile-picture {
  width: 200px;
  height: 200px;
}


.setting-profile .upload-photo-btn input {
  visibility: hidden;
  display: none;
}

.setting-profile .upload-photo-btn {
  background-color: #3366ff;
  border-color: #3366ff;
  color: #ffffff;
  padding: 0.625rem 1.125rem;
  border-style: solid;
  border-width: 0.125rem;
  text-transform: uppercase;
  border-radius: 0.17rem;
  font-size: 0.875rem;
  line-height: 1rem;
}

.setting-profile .setting-profile-upload {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.setting-profile .setting-profile-upload button {
  display: block;
  margin: 15px auto 0;
}

.setting-profile .upload-photo-btn:hover {
  background-color: #598bff;
  border-color: #598bff;
}

.setting-profile .package .package-progress {
  width: calc(75% - 20px);
  margin: 0px 10px 15px 10px;
  position: absolute;
  bottom: 0;
}

.setting-profile .package .package-progress p {
  margin-bottom: 5px;
  color: #fff;
  font-weight: 600;
}

.setting-profile nb-progress-bar.status-primary .progress-container {
  width: 100%;
  height: 0.7rem !important;
  background-color: #fff !important;
}

.setting-profile nb-progress-bar.status-primary .progress-value {
  background-color: #34495E !important;
  color: #ffffff;
}


/*********************
   SETTINGS HISTORY
*********************/

.setting-history nb-card nb-card-body nb-list {
  height: 100%;
}

.setting-history nb-card nb-card-body nb-list nb-list-item {
  padding: 0 !important;
  border: none !important;
}

.setting-history nb-card nb-card-body {
  background: #f7f9fc !important;
}
