@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import '../../../node_modules/@nebular/theme/styles/globals';
@import '../../../node_modules/@nebular/auth/styles/all';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/grid';

@import "nucleo-outline.css";
@import 'themes';
@import "components";
@import "pages";

@mixin ngx-pace-theme() {

  .pace .pace-progress {
    background: nb-theme(color-primary-default);
  }

  .pace .pace-progress-inner {
    box-shadow: 0 0 10px nb-theme(color-primary-default), 0 0 5px nb-theme(color-primary-default);
  }

  .pace .pace-activity {
    display: none;
  }
}

@mixin ngx-layout() {
  @include media-breakpoint-down(is) {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
}

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global();
  @include ngx-layout();
  @include ngx-pace-theme();
  @include nb-overrides();
}

nb-layout .layout,
nb-layout.window-mode {
  background: transparent !important;
}

body {
  background-image: url("../img/background.png");
}
