<h1 id="title" class="title">{{translate('AUTHENTICATION/LOGIN')}}</h1>

<form [formGroup]="formGroup" aria-labelledby="title">

    <div class="form-control-group">
        <label class="label" for="input-username">{{translate('AUTHENTICATION/USERNAME')}}</label>
        <input #username="" nbInput fullWidth [formControlName]="'username'" id="input-username" type="text"
               name="Username"
               [placeholder]="translate('AUTHENTICATION/USERNAME')"
               [(ngModel)]="user.username" autocomplete="off">
        <div *ngIf="isFocused(username) && formGroup.controls['username'].invalid  && (formGroup.controls['username'].dirty || formGroup.controls['username'].touched)"
             [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
            <div *ngIf="formGroup.controls['username'].errors.required">
                {{translate('ERROR/USERNAME_MISSING')}}
            </div>
        </div>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-password">{{translate('AUTHENTICATION/PASSWORD')}}</label>
        <input #password="" nbInput fullWidth [formControlName]="'password'" type="password" id="input-password"
               name="Password"
               [placeholder]="translate('AUTHENTICATION/PASSWORD')" [(ngModel)]="user.password" autocomplete="off">
        <div *ngIf="isFocused(password) && formGroup.controls['password'].invalid  && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)"
             [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
            <div *ngIf="formGroup.controls['password'].errors.required">
                {{translate('ERROR/PASSWORD_MISSING')}}
            </div>
        </div>
    </div>
    <button nbButton fullWidth [status]="'success'" [disabled]="!formGroup.valid"
            (click)="login()">{{translate('AUTHENTICATION/LOGIN')}}</button>
</form>

<section class="another-action" aria-label="Register">
    {{translate('AUTHENTICATION/NO_ACCOUNT')}} <a class="text-link" [routerLink]="'../register'">
    {{translate('AUTHENTICATION/REGISTER')}}</a>
</section>

<section class="another-action" [ngStyle]="{marginTop: '1em'}" aria-label="Register">
    {{translate('AUTHENTICATION/OR')}} <a class="text-link" [ngStyle]="{cursor: 'pointer'}"
                                          (click)="guest()">{{translate('AUTHENTICATION/GUEST_ACCESS')}}</a>
</section>
