<nb-card class="package m-0">
    <nb-card-body>
        <label class="form-check-label"
               [class.package-selected]="selected"
               [ngStyle]="{backgroundImage: 'url(/assets/img/packages/' + package?.name + '.png)'}">
            <input class="form-check-input" type="checkbox" autocomplete="off"
                   [class.package-box-selected]="selected"
                   [(ngModel)]="selected" [disabled]="selected" (change)="change()">
            <span class="form-check-sign"></span>
            <div class="package-description">
                <h4>{{translate(title)}}</h4>
                <div *ngIf="!package?.unlimited">
                    <nb-icon [icon]="'image-outline'"></nb-icon>
                    {{package?.dailyPhotos}} {{translate('PACKAGE/PICTURES_BY_DAY')}}
                </div>
                <div *ngIf="package?.unlimited">
                    <nb-icon [icon]="'image-outline'"></nb-icon>
                    {{translate('PACKAGE/PICTURES_UNLIMITED')}}
                </div>
                <div *ngIf="!package.unlimited">
                    <nb-icon [icon]="'cloud-upload-outline'"></nb-icon>
                    {{package?.dailyUploadSize}} {{translate('PACKAGE/MEGA_BYTES')}}
                </div>
            </div>
            <p class="package-price">{{package?.price}} {{translate('PACKAGE/CURRENCY')}}<br>
                <span>{{translate('PACKAGE/MONTHLY')}}</span>
            </p>
            <div class="package-progress" *ngIf="showProgress && selected">
                <p *ngIf="!package.unlimited && package?.dailyPhotos > 1">{{usage()}}
                    / {{package?.dailyPhotos}} {{translate('PACKAGE/PICTURES_UPLOADED_SINGULAR')}}</p>
                <p *ngIf="!package.unlimited && package?.dailyPhotos <= 1">{{usage()}}
                    / {{package?.dailyPhotos}} {{translate('PACKAGE/PICTURES_UPLOADED_PLURAL')}}</p>
                <nb-progress-bar *ngIf="!package.unlimited"
                                 [value]="consumption * 100 / package?.dailyPhotos"></nb-progress-bar>
                <nb-progress-bar *ngIf="package.unlimited" [value]="100"></nb-progress-bar>
            </div>
        </label>
    </nb-card-body>
</nb-card>
